.git/*
env/
venv/
.venv
.venv/

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

media/
static/
posts/static/
about/admin.py
about/models.py
about/tests.py
users/admin.py
users/models.py
users/tests.py

db.sqlite3

.vscode/

htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
