{% extends "base.html" %}
{% block title %}Подписчики{% endblock %}
{% block header %}<div align="center">Подписчики</div>{% endblock %}
{% block content %}
<br><hr>
{% include "includes/menu.html" with index=True %}
<div class="container">
    {% for post in page %}
        {% include "includes/post_item.html" with post=post %}
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
</div>
    {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator%}
    {% endif %}

{% endblock %}