{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}<div align="center">Последние обновления на сайте</div>{% endblock %}
{% block content %}
<br><hr>
{% include "includes/menu.html" with index=True %}
<div class="container">
    {% load cache %}
    {% cache 20 index_page page %}
    {% for post in page %}
        {% include "includes/post_item.html" with post=post %}
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% endcache %}
</div>
    {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator%}
    {% endif %}

{% endblock %}